.animals-list {
  grid-column: 2;
  height: 370px;
  overflow-y: scroll;
}

/* check support in other browsers  */
.animals-list::-webkit-scrollbar {
  width: 1.8rem;
}

.animals-list::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-left: 0.4rem solid var(--background-color);
  border-right: 0.4rem solid var(--background-color);
}

.animals-list::-webkit-scrollbar-track {
  background-color: var(--background-color);
}

.animals-description {
  grid-column: 3 / -1;
}

.animals-description section {
  margin-bottom: 4.8rem;
}

.animals-description section:last-child {
  margin-bottom: 0;
}

.animals-description h2 {
  font-family: var(--secondary-font);
  font-size: inherit;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--secondary-color);
  margin-bottom: 1.6rem;
}

.animals-description h2::before {
  content: "";
  display: inline-block;
  width: 4rem;
  height: 1rem;
  margin-right: 1rem;
  background-color: var(--primary-color);
}

.animals-description p {
  font-family: var(--primary-font);
  line-height: 1.2;
  margin-bottom: 1.6rem;
}

@media (max-width: 700px) {
  .animals-list {
    grid-column: 1;
  }
  .animals-description {
    grid-column: 2 / -1;
  }
}
