.map {
  grid-column: 2;
}

.contact-list li {
  font-family: var(--primary-font);
  margin-bottom: 1.6rem;
}

.contact-list li::before {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 1rem;
  background-color: var(--primary-color);
  margin-right: 1rem;
}
