.map {
  grid-column: 2;
}

.contact-list li {
  font-family: var(--primary-font);
  margin-bottom: 1.6rem;
}

.contact-list li::before {
  content: "";
  display: inline-block;
  width: 2rem;
  height: 1rem;
  background-color: var(--primary-color);
  margin-right: 1rem;
}

[data-js] [data-working-period]::after {
  content: "";
  display: inline-block;
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  margin-left: 0.4rem;
  border: 0.1rem solid var(--darker-color);
  background-color: var(--secondary-color);
}

[data-js] [data-working-period].active::after {
  background-color: #09a036;
}

@media (max-width: 700px) {
  .map {
    grid-column: 1 / -1;
  }
  .contact-list {
    grid-column: 1 / -1;
  }
}
