.faq-list {
  grid-column: 2 / -1;
}

.faq-list dt {
  font-family: var(--secondary-font);
  font-size: inherit;
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: 1.6rem;
  margin-top: 3.6rem;
}

.faq-list dt::before {
  content: "";
  width: 2rem;
  height: 1rem;
  display: inline-block;
  background-color: var(--primary-color);
  margin-right: 1rem;
}

.faq-list dd {
  font-family: var(--primary-font);
  margin-bottom: 1.6rem;
  margin-left: 3rem;
}
