.faq-list {
  grid-column: 2 / -1;
}

.faq-list dt {
  font-family: var(--secondary-font);
  font-size: inherit;
  font-weight: bold;
  color: var(--secondary-color);
  margin-bottom: 1.6rem;
  margin-top: 3.6rem;
  cursor: pointer;
}

.faq-list dt::before {
  content: "";
  width: 2rem;
  height: 1rem;
  display: inline-block;
  background-color: var(--primary-color);
  margin-right: 1rem;
}

.faq-list dd {
  font-family: var(--primary-font);
  margin-bottom: 1.6rem;
  margin-left: 3rem;
}

@media (max-width: 700px) {
  .faq-list {
    grid-column: 1 / -1;
  }
}

/* styles controled by scripts */
[data-js] [data-accordion] dt {
  padding: 1.4rem 0;
  margin-bottom: 0.8rem;
  margin-top: 2.4rem;
}

[data-js] [data-accordion] dt:hover {
  background-color: var(--secondary-color-05);
}

[data-js] [data-accordion] dt::after {
  content: "↴";
  margin-left: 1rem;
}

[data-js] [data-accordion] dt.active::after {
  content: "↰";
}

[data-js] [data-accordion] dd {
  display: none;
}

[data-accordion] dd.active {
  display: block;
  animation: show-answer 0.5s alternate;
}

@keyframes show-answer {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 100%;
  }
}
