html {
  font-size: 62.5%;
}

h1,
h2,
h3,
p,
body,
ul,
dl,
dd {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
  color: var(--darker-color);
  background-color: var(--background-color);

  /* add smoothiness to fonts */
  -webkit-font-smoothing: antialiased;
}

/* lists style resets */
ul {
  list-style: none;
}

/* responsive image */
img {
  display: block;
  max-width: 100%;
}
