.menu {
  grid-column: 3 / -1;
  background-color: var(--primary-color);
  margin: 3.6rem 0;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
}

.menu a {
  display: block;
  padding: 1rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  font-family: var(--secondary-font);
  font-weight: bold;
  letter-spacing: 0.1rem;
}
