.menu {
  grid-column: 3 / -1;
  background-color: var(--primary-color);
  margin-top: 3.6rem;
  margin-bottom: 3.6rem;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
}

.menu a {
  display: block;
  padding: 1.5rem 1rem;
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
  font-family: var(--secondary-font);
  font-weight: bold;
  letter-spacing: 0.1rem;
}

@media (max-width: 700px) {
  .menu {
    grid-column: 1 / -1;
    margin-top: 0;
  }
}
