.tooltip {
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.8rem;
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--light-color);
  border-radius: 0.2rem;
  box-shadow: 0 0 0 0.2rem var(--primary-color), 0 0 0 0.6rem rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 20ch;
}
